.box_BackToSchool {
    width: 100%;
    // background-color: $primary-color;
    background-image: radial-gradient( circle 966px at 6.9% 10.8%, $primary-color 0%, rgba(147,186,252,1) 90% );
    color: white;
    padding: 50px;
    box-shadow: inset 0 0 20px darken($primary-color, 10);

    .container {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 300px;
        }

        .backToSchool_Text {
            text-align: center;
            padding-left: 40px;

            h1 {
                font-weight: bold;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 20px;
                line-height: 30px;
            }

            .backToSchool_Text__buttons {
                display: flex;
                align-items: center;
                justify-content: space-around;

                button {
                    transition: 0.5s;
                    padding: 15px 30px;
                    border: none;
                    color: white;
                    font-weight: bold;
                    background-color: darken($primary-color, 10);
                    // background-color:
                    border-radius: 8px;
                }
    
                button:hover {
                    cursor: pointer;
                    transition: 0.5s;
                    background-color: darken($primary-color, 16);
                }
            }
        }
    }
}

@media screen and (max-width: 780px)
{
    .box_BackToSchool {

        .container {
            text-align: center;
            flex-wrap: wrap;
            width: 100%;

            img {
                width: 70%;
                margin: 0 auto;
                margin-bottom: 20px;
            }

            .backToSchool_Text {
                padding: 10px;

                .backToSchool_Text__buttons {
                    button {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}