.dashboard {
    width: 100%;

    .video-advertisement {
        height: 650px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        opacity: 0.8;

        .video-advertisement_text {
            padding: 20px;
            position: absolute;
            z-index: 2;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;

            h1 {
                font-size: 60px;
            }

            p {
                font-size: 20px;
            }

            button {
                margin-top: 20px;
                padding: 15px 45px;
                font-size: 20px;
                opacity: 0.7;
                background-color: grey;
                border: none;
                color: white;
                transition: 0.5s;

                p {
                    opacity: 1.5;
                    color: white;
                }
            }

            button:hover {
                opacity: 1.0;
                transition: 0.5s;
                box-shadow: 0px 0px 10px #000000;
            }
        }

        img {
            height: 900px;
            filter: brightness(40%);
        }
    }

    .google_map {
        width: 100%;
        height: 100px;   
    }
}